/*
blue #8CFBDE
gray #8B94A3
dark gray #454851
orange #FE621D
*/




body{
  background: #8B94A3;
}

h1, h2, h3, a, p{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

h2{
font-size: 35px;
font-weight: 600;
}

h3{
font-size: 25px;
font-weight: 600;
}

p{
font-size: 20px;
line-height: 25px;
width: 1000px;
margin: 0px;
}

a{
  color: #FE621D;
}

a:hover{
  text-decoration: none;
}


header, footer {
  background: #8CFBDE;
  width: 1000px;
  margin: 0 auto;
}

.Work{
  background:#8CFBDE
  }

.Education{
  background:#8CFBDE
}

.content-wrap{
  width: 600px;
  margin: 0 auto;
}
